.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: underline;
}

.hello {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: #0d0718;
}

.rcavhs1 {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  padding: 0px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.4fr 0px 0.4fr 0px 0.4fr 0px 0.4fr 0px 0.4fr 0px 2fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
}

.r {
  font-family: 'Abril Fatface', sans-serif;
  color: #999;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: transparent;
}

.darkfill {
  background-color: #0d0718;
}

.virgostearsfill {
  background-color: #440775;
  background-clip: border-box;
}

.fusciafill {
  background-color: #f81894;
  background-clip: border-box;
}

.bloodfill {
  background-color: #da040b;
}

.poppyfill {
  background-color: #f75d04;
}

.h1fade {
  background-color: transparent;
}

.clients {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-clip: border-box;
}

.imryan {
  width: 100vw;
  height: 125vh;
}

.rcavhs2 {
  position: relative;
  width: 100vw;
  height: 40vh;
  background-image: url('../images/RCAT120.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.r10 {
  width: 100vw;
  height: 10vh;
}

.h2centerfade {
  display: block;
  width: 100vw;
  height: 20vh;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.p {
  padding-right: 24px;
  padding-left: 24px;
  font-family: Trirong, sans-serif;
  color: #ddd;
  font-size: 3vw;
  line-height: 10vh;
  font-weight: 400;
  text-align: center;
}

.profile {
  position: static;
  height: 40vh;
  max-height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.clientlistitemfadeanimation {
  display: block;
  width: 100vw;
  height: 15vh;
  background-color: transparent;
  text-align: center;
  cursor: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.clientlistitemfadeanimation:hover {
  background-color: transparent;
}

.link {
  position: static;
  width: 100vw;
  height: 15vh;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  cursor: pointer;
}

.connect {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-clip: border-box;
}

.tanfill {
  width: 100vw;
  height: 0.5vh;
  background-color: #ccbb9d;
}

.socialinks {
  width: 100vw;
  height: 60vh;
  background-color: transparent;
  background-clip: border-box;
}

.bottomfill {
  width: 100vw;
  height: 2vh;
  background-color: #0d0718;
}

.sonyvhsbg {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-image: url('../images/sonyVHS.svg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.brand {
  padding: 24px;
}

.pfade {
  width: 100vw;
  height: 20vh;
}

.imgfade {
  width: 100vw;
  height: 40vh;
}

.maincontent {
  width: 100vw;
  height: 425vh;
}

.brownfill {
  width: 100vw;
  height: 1vh;
  background-color: #726048;
}

.h2fade {
  width: 100vw;
  height: 15vh;
}

.h1hello {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #4b5961;
  font-size: 14vw;
  line-height: 16vw;
  text-align: left;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #0d0718;
  font-size: 4vw;
  line-height: 15vh;
  font-weight: 600;
  text-align: center;
}

.h2imryan {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Abril Fatface', sans-serif;
  color: #dfdfdf;
  font-size: 8vw;
  line-height: 20vh;
  font-weight: 600;
}

.fadein {
  width: 100vw;
  height: 100vh;
}

.h2clients {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #0d0718;
  font-size: 4vw;
  line-height: 15vh;
  font-weight: 600;
  text-align: center;
}

.linkmemain {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: rgba(162, 57, 54, 0.6);
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.25vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.linkmemain:hover {
  background-color: #0d0718;
  color: #eaedee;
}

.linkmemaincta {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: #a23936;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.25vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkmemaincta:hover {
  background-color: #0d0718;
  color: #eaedee;
}

.modalawards {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  overflow: scroll;
  height: 100%;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#333));
  background-image: linear-gradient(180deg, #333, #333);
  opacity: 1;
  text-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.awards {
  display: block;
  overflow: auto;
  width: 72vw;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #444;
  opacity: 1;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

.awardlink {
  color: #ffaedb;
  font-style: normal;
  text-decoration: underline;
}

.awardsheading {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Abril Fatface', sans-serif;
  color: #dfdfdf;
  font-size: 56px;
  line-height: 15vh;
}

.button {
  display: block;
  margin: 7.5vh 10% 10%;
  background-color: #f81894;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 32px;
  line-height: 64px;
}

.closemodalawars {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  width: 50px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;
}

.awardslist {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.awardslistelement {
  margin-right: 10%;
  margin-bottom: 20px;
  margin-left: 10%;
  padding-left: 40px;
  background-image: url('../images/award.svg');
  background-position: 0% 7px;
  background-size: 15px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: Trirong, sans-serif;
  color: #dfdfdf;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
  text-transform: none;
  list-style-type: none;
}

.modalawardside {
  width: 14vw;
  height: auto;
}

.link {
  color: #5ae2f7;
  text-decoration: underline;
}

.h3clientlistitems {
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.5vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .rcavhs1 {
    -ms-grid-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
  }

  .imryan {
    height: 125vh;
  }

  .p {
    font-size: 6vw;
  }

  .maincontent {
    height: 425vh;
  }

  .h1hello {
    font-size: 20vw;
    line-height: 24vw;
  }

  .h2 {
    font-size: 5vw;
  }

  .h2imryan {
    font-size: 14vw;
  }

  .h2clients {
    font-size: 5vw;
  }

  .linkmemain {
    font-size: 5vw;
  }

  .linkmemaincta {
    font-size: 5vw;
  }

  .modalawards {
    display: none;
  }

  .h3clientlistitems {
    font-size: 4vw;
  }
}

@media screen and (max-width: 767px) {
  .rcavhs2 {
    width: auto;
  }

  .h3clientlistitems {
    font-size: 4vw;
  }
}

@media screen and (max-width: 479px) {
  .imryan {
    height: 125vh;
  }

  .rcavhs2 {
    position: static;
  }

  .h2centerfade {
    height: 10vh;
    line-height: 10px;
  }

  .p {
    padding-right: 24px;
    padding-left: 24px;
    line-height: 5vh;
  }

  .profile {
    position: static;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .clientlistitemfadeanimation {
    height: 10vh;
  }

  .link {
    height: 10vh;
  }

  .socialinks {
    height: 40vh;
  }

  .pfade {
    height: 15vh;
  }

  .h1hello {
    padding-left: 0px;
    text-align: center;
  }

  .h2 {
    padding-left: 0px;
    font-size: 7vw;
    text-align: center;
  }

  .h2imryan {
    padding-left: 0px;
    font-size: 14vw;
    line-height: 10vh;
    text-align: center;
  }

  .r5h {
    width: 100vw;
    height: 5.5vh;
  }

  .h2clients {
    padding-left: 0px;
    font-size: 7vw;
    text-align: center;
  }

  .linkmemain {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(162, 57, 54, 0.7);
    line-height: 10vh;
    text-align: center;
  }

  .linkmemaincta {
    height: 10vh;
    padding-left: 0px;
    background-color: #a23936;
    line-height: 10vh;
    text-align: center;
  }

  .awards {
    width: 80vw;
  }

  .awardsheading {
    font-size: 32px;
    line-height: 10vh;
  }

  .button {
    margin-right: 0%;
    margin-left: 0px;
    font-size: 16px;
  }

  .closemodalawars {
    z-index: 99999;
    width: 40px;
    margin-top: 2px;
    margin-right: 2px;
  }

  .awardslistelement {
    padding-left: 0px;
    background-image: none;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }

  .modalawardside {
    width: 10vw;
  }

  .h3clientlistitems {
    font-size: 6vw;
    line-height: 10vh;
  }
}

