.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.grid {
  -ms-grid-columns: minmax(200px, 1fr) 1fr;
  grid-template-columns: minmax(200px, 1fr) 1fr;
}

.grid-2 {
  grid-auto-flow: row;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  grid-template-areas: ". Area";
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.welcome {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
}

.text-block {
  border: 0px solid transparent;
  font-family: 'PT Serif', serif;
  color: grey;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
}

.body {
  margin: 0px;
  padding: 0px;
  background-color: #0d0718;
}

.frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.grid-4 {
  grid-auto-flow: column;
  -ms-grid-columns: 0.3fr 1fr 0.3fr;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  -ms-grid-rows: 3.75fr 2fr 0.25fr;
  grid-template-rows: 3.75fr 2fr 0.25fr;
}

.grid-5 {
  -ms-grid-rows: minmax(0vh, 1fr);
  grid-template-rows: minmax(0vh, 1fr);
}

.rcavhs1 {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  padding: 0px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 0.4fr 0px 0.4fr 0px 0.4fr 0px 0.4fr 0px 0.4fr 0px 2fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
}

.text-block-2 {
  color: grey;
}

.r {
  font-family: 'Abril Fatface', sans-serif;
  color: #999;
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.hello {
  font-family: 'Nanum Myeongjo';
  color: #8f8a99;
  font-size: 24vw;
  line-height: 24vw;
  font-weight: 400;
}

.scene-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #5a5187;
}

.container {
  position: static;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: transparent;
}

.frames2 {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  padding: 24px;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 2fr;
  grid-template-rows: 1fr 2fr;
}

.grid-6 {
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 24px 72px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 4fr 2fr;
  grid-template-columns: 4fr 2fr;
}

.text-block-3 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  padding-top: 48px;
  font-family: 'Nanum Myeongjo';
  color: #92ff33;
  font-size: 5vw;
  line-height: 7vw;
  font-weight: 400;
}

.image {
  padding-top: 148px;
  padding-left: 24px;
}

.div-block {
  width: 100vw;
  height: 100vh;
}

.column {
  padding-right: 24px;
  padding-left: 72px;
}

.image-2 {
  max-width: 80%;
}

.image-3 {
  max-width: 80%;
}

.column-2 {
  padding-right: 0px;
  padding-left: 100px;
}

.darkfill {
  background-color: #0d0718;
}

.virgostearsfill {
  background-color: #440775;
  background-clip: border-box;
}

.fusciafill {
  background-color: #f81894;
  background-clip: border-box;
}

.bloodfill {
  background-color: #da040b;
}

.poppyfill {
  background-color: #f75d04;
}

.h1fade {
  background-color: transparent;
}

.grid-7 {
  width: 100vw;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-4 {
  padding-top: 8px;
  padding-left: 48px;
  font-family: 'Noto Sans';
  color: #4b5961;
  font-size: 14vw;
  line-height: 16vw;
  font-weight: 700;
  text-align: left;
}

.clients {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-clip: border-box;
}

.sonyvhs {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/sonyVHS.svg');
  background-position: 0px 0px;
  background-size: cover;
}

.div-block-2 {
  width: 100vw;
  height: 100vh;
}

.sonyvhs1 {
  width: 100vw;
  height: 100vh;
  grid-auto-flow: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 4fr 1fr;
  grid-template-columns: 4fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.text-block-5 {
  overflow: visible;
  width: 100vw;
  height: 20vh;
  padding-top: 24px;
  padding-left: 56px;
  background-color: transparent;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #dadada;
  font-size: 1rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background-clip: border-box;
}

.aboutme {
  width: 100vw;
  height: 100vh;
}

.grid-8 {
  height: 100vh;
  grid-auto-flow: column;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 0px 1fr;
  grid-template-rows: 1fr 1fr;
}

.rcavhs2 {
  position: relative;
  width: 100vw;
  height: 40vh;
  background-image: url('../images/RCAT120.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: Ubuntu, Helvetica, sans-serif;
  text-align: center;
}

.r10 {
  width: 100vw;
  height: 10vh;
}

.h2centerfade {
  display: block;
  width: 100vw;
  height: 20vh;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.text20 {
  font-family: Cormorant;
  color: #dfdfdf;
  font-size: 8vw;
  line-height: 20vh;
  font-weight: 600;
}

.p {
  font-family: Trirong, sans-serif;
  color: #ddd;
  font-size: 3vw;
  line-height: 10vh;
  font-weight: 400;
  text-align: center;
}

.workrow1 {
  width: 100vw;
  height: 10px;
}

.image-4 {
  position: relative;
  height: 50vh;
  text-align: left;
}

.profile {
  position: static;
  height: 40vh;
  max-height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.textboldleft30 {
  padding-left: 48px;
  font-family: Cormorant;
  color: #0d0718;
  font-size: 4vw;
  line-height: 30vh;
  font-weight: 600;
  text-align: left;
}

.linkgodaddy {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.25vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkgodaddy:hover {
  background-color: #eaedee;
}

.brandfade {
  display: block;
  width: 100vw;
  height: 15vh;
  text-align: center;
  cursor: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.brandfade:hover {
  background-color: #eaedee;
}

.vhscase {
  width: 100vw;
  height: 100vh;
}

.link {
  position: static;
  width: 100vw;
  height: 15vh;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
}

.bgchange2 {
  width: 100vw;
  height: 100vh;
}

.connect {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-clip: border-box;
}

.r6 {
  width: 100vw;
  height: 6vh;
}

.tanfill {
  width: 100vw;
  height: 0.5vh;
  background-color: #ccbb9d;
}

.div-block-5 {
  width: 100vw;
  height: 30vh;
}

.socialinks {
  width: 100vw;
  height: 60vh;
  background-color: #a23936;
  background-clip: border-box;
}

.bottomfill {
  width: 100vw;
  height: 2vh;
  background-color: #0d0718;
}

.link2 {
  position: static;
  width: 100vw;
  height: 12.5vh;
  line-height: 10px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
}

.oldlink {
  width: 100vw;
  height: 12.5vh;
  padding-left: 48px;
  font-family: Overpass;
  color: #0d0718;
  font-size: 2.5vw;
  line-height: 12.5vh;
  font-weight: 400;
  text-align: left;
  text-decoration: underline;
}

.sonyvhsbg {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  background-image: url('../images/sonyVHS.svg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.brand {
  padding: 24px;
}

.textrigger {
  width: 100vw;
  height: 100vh;
}

.bganimate {
  width: 100vw;
  height: 20vh;
}

.empty {
  width: 100vw;
  height: 20vh;
}

.pfade {
  width: 100vw;
  height: 20vh;
}

.imgfade {
  width: 100vw;
  height: 40vh;
}

.bgcolors {
  width: 100vw;
  height: 400vh;
}

.brownfill {
  width: 100vw;
  height: 1vh;
  background-color: #726048;
}

.h2fade {
  width: 100vw;
  height: 15vh;
}

.h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #4b5961;
  font-size: 14vw;
  line-height: 16vw;
  text-align: left;
}

.h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #0d0718;
  font-size: 4vw;
  line-height: 15vh;
  font-weight: 600;
  text-align: center;
}

.h2center {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  font-family: 'Abril Fatface', sans-serif;
  color: #dfdfdf;
  font-size: 8vw;
  line-height: 20vh;
  font-weight: 600;
}

.linklexus {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.5vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linklexus:hover {
  background-color: #ffb030;
}

.linkmicrosoft {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.5vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkmicrosoft:hover {
  background-color: #fe6929;
}

.linkea {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.5vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkea:hover {
  background-color: #f73931;
}

.fadein {
  width: 100vw;
  height: 100vh;
}

.lineart {
  position: fixed;
  left: 35vw;
  top: 18vh;
  z-index: 1;
  height: 40vh;
  max-height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  -o-object-fit: contain;
  object-fit: contain;
}

.linkme {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.25vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkme:hover {
  background-color: #eaedee;
}

.h2clients {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 48px;
  font-family: 'Abril Fatface', sans-serif;
  color: #0d0718;
  font-size: 4vw;
  line-height: 15vh;
  font-weight: 600;
  text-align: center;
}

.linkmcgrawhill {
  width: 100vw;
  height: 15vh;
  padding-left: 48px;
  background-color: transparent;
  font-family: Trirong, sans-serif;
  color: #0d0718;
  font-size: 3.5vw;
  line-height: 15vh;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
}

.linkmcgrawhill:hover {
  background-color: #ac3f46;
}

@media screen and (max-width: 991px) {
  .rcavhs1 {
    -ms-grid-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 2fr;
  }

  .text-block-4 {
    font-size: 20vw;
    line-height: 24vw;
  }

  .text20 {
    font-size: 14vw;
  }

  .p {
    font-size: 6vw;
  }

  .textboldleft30 {
    font-size: 5vw;
  }

  .linkgodaddy {
    background-color: rgba(234, 237, 238, 0.8);
    font-size: 5vw;
  }

  .oldlink {
    font-size: 3vw;
  }

  .h1 {
    font-size: 20vw;
    line-height: 24vw;
  }

  .h2 {
    font-size: 5vw;
  }

  .h2center {
    font-size: 14vw;
  }

  .linklexus {
    background-color: rgba(255, 176, 48, 0.8);
    font-size: 5vw;
  }

  .linkmicrosoft {
    background-color: rgba(254, 105, 41, 0.8);
    font-size: 5vw;
  }

  .linkea {
    background-color: rgba(247, 57, 49, 0.8);
    font-size: 5vw;
  }

  .linkme {
    font-size: 5vw;
  }

  .h2clients {
    font-size: 5vw;
  }

  .linkmcgrawhill {
    background-color: rgba(247, 57, 49, 0.8);
    font-size: 5vw;
  }
}

@media screen and (max-width: 767px) {
  .rcavhs2 {
    width: auto;
  }

  .oldlink {
    font-size: 4vw;
  }
}

@media screen and (max-width: 479px) {
  .sonyvhs {
    background-position: 0px 0px;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .rcavhs2 {
    position: static;
  }

  .p {
    line-height: 5vh;
  }

  .profile {
    position: static;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .textboldleft30 {
    padding-left: 0px;
    font-size: 8vw;
    line-height: 30vh;
    font-weight: 600;
    text-align: center;
  }

  .linkgodaddy {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(234, 237, 238, 0.8);
    line-height: 10vh;
    text-align: center;
  }

  .brandfade {
    height: 10vh;
  }

  .link {
    height: 10vh;
  }

  .r6 {
    height: 10vh;
  }

  .div-block-5 {
    height: 30vh;
  }

  .socialinks {
    height: 40vh;
  }

  .link2 {
    height: 12.5vh;
  }

  .oldlink {
    height: 12.5vh;
    padding-left: 0px;
    font-size: 6vw;
    line-height: 12.5vh;
    font-weight: 400;
    text-align: center;
  }

  .pfade {
    height: 20vh;
  }

  .h1 {
    padding-left: 0px;
    text-align: center;
  }

  .h2 {
    padding-left: 0px;
    font-size: 7vw;
    text-align: center;
  }

  .h2center {
    padding-left: 0px;
    font-size: 14vw;
    text-align: center;
  }

  .linklexus {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(255, 176, 48, 0.8);
    line-height: 10vh;
    text-align: center;
  }

  .linkmicrosoft {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(254, 105, 41, 0.8);
    line-height: 10vh;
    text-align: center;
  }

  .linkea {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(247, 57, 49, 0.8);
    line-height: 10vh;
    text-align: center;
  }

  .r5h {
    width: 100vw;
    height: 5.5vh;
  }

  .lineart {
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .linkme {
    height: 10vh;
    padding-left: 0px;
    background-color: transparent;
    line-height: 10vh;
    text-align: center;
  }

  .h2clients {
    padding-left: 0px;
    font-size: 7vw;
    text-align: center;
  }

  .linkmcgrawhill {
    height: 10vh;
    padding-left: 0px;
    background-color: rgba(172, 63, 70, 0.7);
    line-height: 10vh;
    text-align: center;
  }
}

