/*FONTS*/

@import url("https://use.typekit.net/wnh5tey.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

/*BLOCKS*/

* {
    box-sizing:border-box;
}

html {
    background-color:rgba(1, 8, 12, 1);
}

body, p {
    margin: 0;
}

.title {
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:500;
    font-style:normal;
    text-transform:uppercase;
    
}

.hero {
    display:flex;
    background-image:url('images/ryanallen-bg.jpg');
    background-size:cover;
    background-position:center center;
    width:100%;
 }

 .skrim {
    width:100%;
 }

 .brands {
    background-color:#ECF2F3;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    color:#050809;
    display:flex;
    flex-direction:column;
 }

/*ELEMENTS*/

.hero__content {
    display:flex;
    flex-direction:column;
    color:#FAFDFE;
}

.hero__headline-section {
    display:flex;
    align-self:flex-start;
    flex-direction:column;
}

.hero__headline {
    font-family:adelle-sans, sans-serif;
    font-weight:700;
}

.hero__subheadline {
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:500;
    font-style:normal;
}

.hero__button {
    align-self:flex-start;
    color:#050809;
    background-color:#55D8EA;
    padding:14px 28px;
    border-radius:80px;
    text-decoration:none;
    font-family:'Outfit', sans-serif;
}

.hero__button:hover {
    background-color:#73E4F5;
}

.brands__headline {
    font-family:adelle-sans, sans-serif;
    font-weight:700;
}

.brands__link-microsoft,
.brands__link-ea,
.brands__link-lexus,
.brands__link-transamerica,
.brands__link-mcgraw-hill,
.brands__link-godaddy,
.brands__link-charter-spectrum,
.brands__link-jeff-gordon-childrens-foundation {
    color:#050809;   
}

.brands__link-microsoft:hover, 
.brands__link-ea:hover,
.brands__link-lexus:hover,
.brands__link-transamerica:hover,
.brands__link-mcgraw-hill:hover,
.brands__link-godaddy:hover,
.brands__link-charter-spectrum:hover,
.brands__link-jeff-gordon-childrens-foundation:hover {
    color:#000;
}

.brands:has(.brands__link-microsoft:hover) {
    background-color: #84e567;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.brands:has(.brands__link-ea:hover) {
    background-color: #FE6C71   ;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

/*MEDIA QUERIES*/

@media (min-width:0px) {
    .title {
        font-size:20px;
        line-height:28px;
    }

    .skrim {
        background:linear-gradient(to bottom, rgba(1, 8, 12, 1), rgba(1, 8, 12, 0));
    }

    .hero__content {
        margin:60px 24px;
        gap:40px;
    }

    .hero__headline-section {
        gap:10px;
        max-width:400px;
    }

    .hero__headline {
        font-size:32px;
        line-height:44px;
    }

    .hero__subheadline {
        font-size:16px;
        line-height:24px;
    }

    .brands__headline {
        font-size:24px;
        line-height:32px;
    }
}

@media (min-width: 360px) {
    .hero__content {
        margin: 60px 40px;
    }
}

@media (min-width: 480px) {
    .hero__content {
        margin: 60px 60px;
    }
}

@media (min-width: 640px) {
    .hero__content {
        margin: 60px 80px;
    }
}

@media (min-width: 1024px) {
    .title {
        font-size: 24px;
        line-height: 32px;
    }

    .hero__content {
        margin: 100px 100px;
        gap: 60px;
    }

    .hero__headline-section {
        gap: 20px;
        max-width: 500px;
    }

    .hero__headline {
        font-size: 52px;
        line-height: 68px;
    }

    .hero__subheadline {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (min-width: 1280px) {
    .skrim {
        background: none;
    }

    .hero__content {
        margin: 100px 120px;
    }
}

@media (min-width: 1440px) {
    .hero__content {
        margin: 120px 160px;
    }
}

@media (min-width: 1920px) {
    .hero__content {
        margin: 140px 320px;
    }
}

@media (min-width: 2560px) {
    .hero__content {
        margin: 140px 640px;
    }
}