@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
*{
    box-sizing: border-box;
}
html{
    flex-direction: column;
    font-family: "Space Mono", sans-serif; 
    background-color: rgb(252, 248, 254); 
    margin: 0 auto;
    display: flex;
    
}
body{
    flex-direction: column;
    height: 300vh;
    margin: 0 auto;
    display: flex;
}
#one{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;
    background-color: rgb(179, 186, 186);
    box-shadow: inset 0 0 20vw rgb(20, 4, 43);
}

#two{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;
    background-color: rgb(118, 113, 90v);
    box-shadow: inset 0 0 20vw rgb(20, 4, 43);
}

#three{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    background-size: cover;
    align-items: center;
    background-color: rgb(218, 181, 117);
    box-shadow: inset 0 0 20vw rgb(20, 4, 43);
}

    
h1{
    margin: 0 auto;
    display: flex;
    margin-top: 3vh;
    font-family: "Abril Fatface", sans-serif;
    font-weight: normal;
    color: rgba(13, 2, 22, 0.82);
    text-align: center;
    text-shadow: 0px 1px #fff;
}
h2{
    margin: 0 auto;
    margin-top: 5vh;
    display: flex;
    font-family: "Abril Fatface", sans-serif;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 0px 2px rgba(31, 24, 33, 0.953);
}
.content{
    margin: 0 auto;
    width: 90%;
    color: #FFF;
    left: 0;
    right: 0;
    text-shadow: 0px 2px #140f15;
      }
  
  .content p{
    background-color: rgba(13, 2, 22, 0.82);
    border-radius: 12px;
    padding: 40px;
  }
  
  
  .content a {
        color: rgba(0, 255, 217, 0.78);

  }
  
  .content a:hover {
        color: rgb(185, 249, 249);
  }

  @media (orientation: landscape) {
    .content{
        margin-bottom: 6vh;
    }
    h1 {
        font-size: 11vw;
    }
    h2 {
        font-size: 8vw;
    }
    body {
        font-size: 2vw;
    }

    #one{
    background-image: url("images/img1.jpg");
    }
    #two{
        background-image: url("images/img2.jpg");
        }
    #three{
    background-image: url("images/img3.jpg");
    }
}
    
    @media (orientation: portrait) {
        .content{
            margin-bottom: 10vh;
        }    
        h1 {
        font-size: 8vh;
    }
    h2 {
        font-size: 7vh;
    }
    body{
        font-size: 2vh;
    }
    #one{
        background-image: url("images/img1v.jpg");
        }
    #two{
    background-image: url("images/img2v.jpg");
    }
    #three{
        background-image: url("images/img3v.jpg");
        }
}