@import url("https://use.typekit.net/lfw8isq.css");
*{
    box-sizing: border-box;
}
html{
    flex-direction: column;
    font-family: "adelle-sans", sans-serif; 
    color: #000;
    background-color: rgb(255, 255, 255); 
    margin: 0 auto;
    display: flex;
}
body{
    flex-direction: column;
    margin: 0 auto;
    display: flex;
}
#one, #two, #three, #four {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    transition: background-color 0.1s ease-in;
}
#one {
    min-height: 80vh;
    align-items: center;
    background-color: #F6F6F6;
}
#three {
    background-color: #F6F6F6;
}
a {
    color: #000;
    transition: color 0.1s ease-in;
}
h1, h2, h3{
    margin: 0 auto;
    width: 100%;
    font-weight: 600;
    font-style: normal;
    text-align: left;
}
h1.location {
    text-align: right;
}
.arrow {
    font-family: 'Zapf Dingbats'; 
}
.button {
    display: flex;
    font-weight: 700;
    justify-content: start;
}
.casestudies, .linkedin, .medium, .imrsn {
    color:#fff;
    background-color:#000;
    transition: background-color 0.1s ease-in;
    margin-right: 4vw;
    text-decoration: none;
    box-shadow: 10px 10px #dedede;
}
.colophon {
    font-weight: 400;
}
/* hides the extra e for the spinning e */
.hidden {
    visibility: hidden;
  }
.name {
    cursor:url("images/cursor_ryan.png"), auto;
}

/* ************** */
/* *** MOTION *** */
/* ************** */

/*for the gradient background color transitions */
#one:has(.designing:hover) {
    background: 
    linear-gradient(#FFF0F0 0%, #FFF9F0 10%, #FCFDF2 20%, #F3FDF2 30%, #F2FDFC 40%,
    #F2FCFD 50%, #F1F7FE 60%, #F5F1FE 70%, #FBF0FF 80%, #FFF0FD 90%, #FFF0F0 100%) 
    0 0/1800% 1800%;
    animation: a 18s ease infinite;
}
    @keyframes a {
        to {background-position:0 -200%}
}
/* for spining letter e */
@keyframes rotate {
    100% {
      transform: rotate(-360deg);
    }
}
#one:has(.building:hover) {
    background-color: #FFF0F0;
}
#one:has(.learning:hover) {
    background-color: #FFF9F0;
}
#one:has(.mentoring:hover) {
    background-color: #FCFDF2;
}
#one:has(.awardwinning:hover) {
    background-color: #F3FDF2;
}
#one:has(.drawing:hover) {
    background-color: #F2FDFC;
}
#one:has(.painting:hover) {
    background-color: #F2FCFD;
}
#one:has(.imagining:hover) {
    background-color: #F1F7FE;
}
#one:has(.researching:hover) {
    background-color: #F5F1FE;
}
#one:has(.innovating:hover) {
    background-color: #FBF0FF;
}
#one:has(.disrupting:hover) {
    background-color: #FFF0FD;
}
#one:has(.experimenting:hover) {
    background-color: #FFF0F0;
}
#one:has(.leading:hover) {
    background-color: #FFF9F0;
}
#one:has(.systematizing:hover) {
    background-color: #ffffff;
}
.microsoft:hover, .lexus:hover, 
.godaddy:hover, .charterspectrum:hover, 
.mcgrawhill:hover, .ea:hover, 
.probeauty:hover, .homesandland:hover, 
.transamerica:hover, .jeffgordon:hover {
    color: #000;
}
#two:has(.microsoft:hover) {
    background-color: #EEFFCC;
}
#two:has(.lexus:hover) {
    background-color: #EBEBEA;
}
#two:has(.godaddy:hover) {
    background-color: #D2F9F9;
}
#two:has(.charterspectrum:hover) {
    background-color: #DBF0FF;
}
#two:has(.ea:hover) {
    background-color: #F9E7E7;
}
#two:has(.mcgrawhill:hover) {
    background-color: #FAE5E5;
}
#two:has(.probeauty:hover) {
    background-color: #EBEBEB;
}
#two:has(.homesandland:hover) {
    background-color: #CFEFFC;
}
#two:has(.transamerica:hover) {
    background-color: #bebebe;
}
#two:has(.jeffgordon:hover) {
    background-color: #E7EAF3;
}
#two:has(.casestudies:hover), #four:has(.medium:hover),
#four:has(.imrsn:hover), #four:has(.colophon:hover) {
    background-color: #f7f7f7;
}
#two:has(.linkedin:hover) {
    background-color: #D1EFFF;
}
#three:hover {
    background: 
    linear-gradient(#FFF0F0 0%, #FFF9F0 10%, #FCFDF2 20%, #F3FDF2 30%, #F2FDFC 40%,
    #F2FCFD 50%, #F1F7FE 60%, #F5F1FE 70%, #FBF0FF 80%, #FFF0FD 90%, #FFF0F0 100%) 
    0 0/1800% 1800%;
    animation: a 18s ease infinite;
}
.casestudies:hover, .medium:hover, .imrsn:hover {
    background-color:#e3e3e3;
    color:#000;
    transform: translate(10px, 10px);
    box-shadow: 0 0;
}
.colophon:hover {
    color:#000;
}
.linkedin:hover {
    background-color:#0077b5;
    transform: translate(10px, 10px);
    box-shadow: 0 0;
}
.spin {
    position: absolute;
    animation: rotate 15s linear infinite;
    transform-origin: 52% 57%;
  }

/* ************************* */
/* *** MOBILE OR DESKTOP *** */
/* ************************* */

  @media (orientation: landscape) {
    #one, #two, #three, #four {
        padding: 4vw;
    } 
    h1 {
        font-size: 7vw;
    }
    h1.actions, h3 {
        font-size: 2vw;
        margin-top: 1.5vw;
        margin-bottom: 1.5vw;
    }
    h2 {
        font-size: 1.5vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }  
    .casestudies, .linkedin, .medium, .imrsn {
        padding: 2vw;
    }
    .chiev {
        font-size: 4vw;
        padding-bottom: 4vw;
    }
    .colophon{
        font-size: 1vw;

    }
}
    @media (orientation: portrait) {
        #one, #two, #three, #four {
            padding: 8vw;
        }
        #three {
            background: 
            linear-gradient(#FFF0F0 0%, #FFF9F0 10%, #FCFDF2 20%, #F3FDF2 30%, #F2FDFC 40%,
            #F2FCFD 50%, #F1F7FE 60%, #F5F1FE 70%, #FBF0FF 80%, #FFF0FD 90%, #FFF0F0 100%) 
            0 0/1800% 1800%;
            animation: a 18s ease infinite;
        } 
        h1 {
            font-size: 7.5vw;
        }
        h1.actions, h3 {
            font-size: 4vw;
            margin-top: 3vw;
            margin-bottom: 3vw;
        }
        h2 {
            font-size: 3vw;
            margin-top: 4vw;
            margin-bottom: 4vw;
        } 
        .casestudies, .linkedin, .medium, .imrsn {
            padding: 4vw;
        }         
        .chiev {
            font-size: 5.5vw;
            padding-bottom: 4vw;
        }
        .colophon{
            font-size: 2.5vw;
        }
}