/*FONTS*/

@import url("https://use.typekit.net/wnh5tey.css");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800&display=swap');

/*BLOCKS*/

* {
    box-sizing:border-box;
}

html {
    background-color:rgba(1, 8, 12, 1);
}

body, p, h1, h2, h3 {
    margin: 0;
}

.title {
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:500;
    font-style:normal;
    text-transform:uppercase;  
}

.hero {
    display:flex;
    background-image:url('images/ryanallen-bg.jpg');
    background-size:cover;
    background-position:center center;
    width:100%;
 }

 .skrim {
    width:100%;
 }

 .brands,
 .colophon {
    display:flex;
    flex-direction:column;
    background-color:#ECF2F3;
    transition-duration:.2s;
    transition-timing-function: ease-out;
    color:#050809;
    width:100%
 }

 .work {
    display:flex;
    flex-direction:column;
    background-color:#0A0F11;
    color:#FAFDFE;
    width:100%;
 }

 .card {
    display:flex;
    flex-direction:column;
    border-radius:28px;
    background-color:#080C0E;
    border: 4px solid #253034;
 }

 .card-light {
    display:flex;
    flex-direction:column;
    border-radius:28px;
    background-color:#F7FAFB;
    border:4px solid #B9C6C9;
 }

 .awards {
    display:flex;
    flex-direction:column;
    background-color:#171D20;
    color:#FAFDFE;
    width:100%;
 }

 .reviews {
    display:flex;
    flex-direction:column;
    background-color:#DAE1E3;
    background-image:url('images/bg-social-proof.jpg');
    background-repeat: repeat; 
 }

 .links {
    display:flex;
    background-color:#171D20;
    color:#FAFDFE;
 }

/*ELEMENTS*/

.hero__content {
    display:flex;
    flex-direction:column;
    color:#FAFDFE;
}

.hero__headline-section {
    display:flex;
    align-self:flex-start;
    flex-direction:column;
}

.hero__headline {
    font-family:adelle-sans, sans-serif;
    font-weight:700;
}

.hero__subheadline {
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:500;
    font-style:normal;
}

.hero__button {
    align-self:flex-start;
    color:#050809;
    background-color:#55D8EA;
    padding:14px 28px;
    border-radius:80px;
    text-decoration:none;
    font-family:'Outfit', sans-serif;
    font-size:16px;
    line-height:20px;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.hero__button:hover {
    background-color:#73E4F5;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.brands__content,
.work__content,
.awards__content,
.reviews__content,
.links__content,
.colophon__content {
    display:flex;
    flex-direction:column;
}

.brands__headline {
    font-family:adelle-sans, sans-serif;
    font-weight:700;
}

.brands__link-microsoft,
.brands__link-electronic-arts,
.brands__link-lexus,
.brands__link-transamerica,
.brands__link-mcgraw-hill,
.brands__link-godaddy,
.brands__link-charter-spectrum,
.brands__link-jeff-gordon-childrens-foundation {
    color:#050809;
    text-decoration:underline 2px #050809; 
}

.brands__link-microsoft:hover, 
.brands__link-electronic-arts:hover,
.brands__link-lexus:hover,
.brands__link-transamerica:hover,
.brands__link-mcgraw-hill:hover,
.brands__link-godaddy:hover,
.brands__link-charter-spectrum:hover,
.brands__link-jeff-gordon-childrens-foundation:hover {
    color:#050809;
}

.brands:has(.brands__link-microsoft:hover) {
    background-color: #84e567;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.brands:has(.brands__link-electronic-arts:hover),
.brands:has(.brands__link-transamerica:hover),
.brands:has(.brands__link-mcgraw-hill:hover) {
    background-color: #FE676C;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.brands:has(.brands__link-lexus:hover) {
    background-color: #999999;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.brands:has(.brands__link-godaddy:hover) {
    background-color:#00FAE5;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.brands:has(.brands__link-charter-spectrum:hover),
.brands:has(.brands__link-jeff-gordon-childrens-foundation:hover) {
    background-color:#749BF1;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}

.work__cards,
.awards__cards,
.reviews__cards,
.links__cards {
    display:grid;
    gap:20px;
}

.reviews__button {
    align-self:flex-start;
    color:#ECF2F3;
    background-color:#15667E;
    padding:14px 28px;
    border-radius:80px;
    text-decoration:none;
    font-family:'Outfit', sans-serif;
    font-size:16px;
    line-height:20px;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.reviews__button:hover {
    background-color:#15738C;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.card__media {
    display:flex;
    align-items:center;
    justify-content:center;
    object-fit:cover;
    width:100%;
    height:250px;
    border-radius:24px 24px 0 0;
    border-bottom:4px solid #253034;
}

.card__headline-section {
    display:flex;
    flex-direction:column;
    margin:24px 24px 32px 24px;
    gap:16px;
}

.card__headline {
    font-family:adelle-sans, sans-serif;
    font-weight:700;
    font-style:normal;
}

.card__subheadline {
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:500;
    font-style:normal;
}

.card__actions{
    display:flex;
    flex-grow:1;
    justify-content:flex-end;
    margin: 0 16px 16px;

}

.card__button {
    align-self:flex-end;
    color:#55D8EA;
    border: 4px solid #55d8ea;
    padding:10px 24px;
    border-radius:80px;
    text-decoration:none;
    font-family:'Outfit', sans-serif;
    font-size:14px;
    line-height:20px;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.card__button:hover {
    border: 4px solid #73E4F5;
    background-color:#021F28;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.card-light__content {
    display:flex;
    flex-direction:column;
    font-family:proxima-nova-condensed, sans-serif;
    font-style:normal;
    height:100%;
    margin: 24px 24px 24px 24px;
 }

.card-light__quote-section {
    display:flex;
    gap: 9px;
}

.card-light__quote-mark {
    font-weight:800;
}

.card-light__quote {
    font-weight:500;
}

.card-light__divider {
    width:80px;
    height:1px;
   background-color:#DAE1E3;
   margin:12px 0;
   padding:1px 0;

}

.card-light__reviewer {
    display:flex;
    height:100%;
    align-items:flex-end;
}

.card-light__reviewer-section {
    display:flex;
    gap:24px;
}

.card-light__reviewer-img {
    display:flex;
    align-items:flex-start;
    background-size:cover;
    background-position:center center;
    width:100%;
    max-width:40px;
    height:40px;
    border-radius:80px;
}

.card-light__reviewer-content {}

.card-light__reviewer-name {
    font-weight: 700;
}

.card-light__reviewer-info {
    color:#41484B;
}

.colophon__link {
    font-weight:800;
    color:#050809;
    text-decoration:underline 2px #AEEDF7;
    font-family:proxima-nova-condensed, sans-serif;
    font-weight:800;
    font-style:normal;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

.colophon__link:hover {
    color:#15667E;
    text-decoration:underline 2px #15667E;
    transition-duration:.1s;
    transition-timing-function: ease-out;
}

/*MODIFIERS*/

.card-light__reviewer-img--brett {
    background-image:url('images/reviewer-img__brett.jpg');
}

.card-light__reviewer-img--steven {
    background-image:url('images/reviewer-img__steven.jpg');
}

.card-light__reviewer-img--summer {
    background-image:url('images/reviewer-img__summer.jpg');
}

/*MEDIA QUERIES*/

@media (min-width:0px) {
    .title {
        font-size:20px;
        line-height:28px;
    }

    .skrim {
        background:linear-gradient(to bottom, rgba(1, 8, 12, 1), rgba(1, 8, 12, 0));
    }

    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:60px 24px;
        gap:40px;
    }

    .hero__headline-section {
        gap:10px;
        max-width:400px;
    }

    .hero__headline {
        font-size:32px;
        line-height:44px;
    }

    .hero__subheadline,
    .colophon__link {
        font-size:16px;
        line-height:24px;
    }

    .brands__headline {
        font-size:24px;
        line-height:32px;
        max-width:1040px;
    }

    .work__cards,
    .awards__cards,
    .reviews__cards,
    .links__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card__headline {
        font-size:18px;
        line-height:24px;
    }

    .card__subheadline {
        font-size:16px;
        line-height:24px;
    }

    .card-light__content {
        font-size:14px;
        line-height:18px;
    }
}

/*M360*/

@media (min-width:360px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:60px 40px;
    }
}

/*M480*/

@media (min-width:480px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:60px 60px;
    }
}

/*M640*/

@media (min-width:640px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:60px 80px;
    }

    .work__cards,
    .awards__cards,
    .reviews__cards,
    .links__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*M1024*/

@media (min-width:1024px) {
    .title {
        font-size:24px;
        line-height:32px;
    }

    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:100px 100px;
        gap:60px;
    }

    .hero__headline-section {
        gap:20px;
        max-width:500px;
    }

    .hero__headline {
        font-size:52px;
        line-height:68px;
    }

    .hero__subheadline,
    .card__subheadline,
    .card-light__quote-section,
    .colophon__link {
        font-size:20px;
        line-height:28px;
    }

    .brands__headline {
        font-size:32px;
        line-height:44px;
    }

    .card__headline {
        font-size:22px;
        line-height:30px;
    }

    .card-light__reviewer-content {
        font-size:18px;
        line-height:24px;
    }
}

/*M1280*/

@media (min-width:1280px) {
    .skrim {
        background:none;
    }

    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:100px 120px;
    }

    .work__cards,
    .awards__cards,
    .reviews__cards,
    .links__cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/*M1440*/

@media (min-width:1440px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:120px 160px;
    }
}

/*M1920*/

@media (min-width:1920px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:140px 320px;
    }
}

/*M2560*/

@media (min-width:2560px) {
    .hero__content,
    .brands__content,
    .work__content,
    .awards__content,
    .reviews__content,
    .links__content,
    .colophon__content {
        margin:140px 640px;
    }
}

/*ANIMATIONS*/
@keyframes fadeInUp {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .fade-in-up {
    animation: 0.75s both fadeInUp;
  } 